@import '~@ssgw/utils/dist/scss/index';

@mixin position-style($pos, $size) {
  position: $pos;
  top: 0;
  left: 0;
  width: $size;
  height: $size;
}
$chaptersTotal: 20;
$transition-time-func: cubic-bezier(0.215, 0.61, 0.355, 1);
$white: #fff;
$black: #000;

.navigation {
  box-sizing: border-box;
  position: relative;
  padding: 50px;
  height: 100%;
  overflow: hidden;
  transition: opacity 300ms ease;
  display: flex;
  flex-direction: column;

  @include smallAndMedium {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 400ms ease-out;
    padding: 20px;

    &--active {
      width: 100%;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &--active {
    overflow-y: auto;
  }

  &[hidden] {
    pointer-events: none;
    opacity: 0;
  }

  &__bgLayer {
    @include position-style(absolute, 100%);
    display: none;
    background-color: $white;
    transition-duration: 500ms;
    transition-delay: 100ms;

    @include large() {
      display: block;
      opacity: 0.8;
      transform: translateX(100% * -1);
      transition-property: transform;
      transition-timing-function: $transition-time-func;
      .navigation--active & {
        transition-delay: 0ms;
        transform: translateX(0);
      }
    }
  }

  &__top {
    position: relative;

    & > *:not(:first-child) {
      float: right;
      margin-left: 20px;
    }
  }

  &__bottom {
    position: relative;
    margin: 40px 20px 20px;
  }
}

.menuButton {
  @include reset-button();
  font-family: $font-family--sharp-sans;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: 1;
  position: relative;
  height: 44px;
  text-transform: uppercase;
  border-radius: 22px;
  transition: background-color $transition-time-func 400ms;
  pointer-events: auto;
  float: left;

  @include smallAndMedium {
    width: 44px;
    overflow: hidden;

    &--active {
      width: auto;
    }
  }

  &--is-light {
    background-color: rgba(128, 128, 128, 0.3);

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: rgba(128, 128, 128, 0.6);
    }
  }

  &--is-dark {
    background-color: rgba(0, 0, 0, 0.3);
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &--active {
    background-color: transparent !important;
    svg {
      fill: $black;
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-left: 55px;
  }

  &__text {
    width: auto;

    &--primary {
      color: $white;
      opacity: 1;
      transform: translateY(7px);

      .menuButton--active & {
        opacity: 0;
        transform: translateY(-5px);
      }

      @include smallAndMedium {
        display: none;
      }
    }

    &--secondary {
      color: #222222;
      left: 25px;
      opacity: 0;
      transform: translate(-25px, 10px);

      .menuButton--active & {
        opacity: 1;
        transform: translate(-25px, -5px);
      }

      @include smallAndMedium {
        transform: translate(-35px, 10px);
        transition-duration: 0ms !important;
        .menuButton--active & {
          transition-duration: 400ms !important;
          transform: translate(-35px, 0);
        }
      }
    }
  }

  &__icon,
  &__text {
    transition-property: opacity, transform;
    transition-duration: 400ms;
    transition-timing-function: $transition-time-func;
  }

  &__icon {
    position: absolute;

    &--primary {
      width: 17.6px;
      height: 17.6px;
      top: 50%;
      color: $white;
      opacity: 1;

      @include large() {
        margin-top: -8.8px;
        left: 20px;
        transform: translateX(0);

        .menuButton--active & {
          opacity: 0;
          transform: translateX(-5px);
        }
      }

      @include smallAndMedium {
        left: 50%;
        transform: translate(-50%, -50%);

        .menuButton--active & {
          transition-property: opacity;
          transition-duration: 0ms;
          opacity: 0;
        }
      }
    }

    &--secondary {
      width: 12.1px;
      height: 12.1px;
      top: 50%;
      margin-top: -7px;
      opacity: 0;
      right: 22px;
      transform: translateX(25px);

      .menuButton--active & {
        opacity: 1;
        transform: translateX(5px);
      }
    }
  }
}

.menuList {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  pointer-events: none;
  transition-property: visibility, height;
  transition-delay: 1ms;

  &[hidden] {
    height: 0;
    transition-delay: 650ms;
    visibility: hidden;
  }
}

.menuLink {
  height: 40px;
  color: $black;
  font-family: $font-family--sharp-sans;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.05em;
  pointer-events: auto;
  transform: translateY(0);
  opacity: 0.7;

  .menuList[hidden] & {
    opacity: 0;
  }

  @for $i from 1 through $chaptersTotal {
    &:nth-child(#{$i}) {
      transition: transform 600ms ease (100ms * ($i - 1)),
        opacity 600ms ease (150ms * ($i - 1));

      .menuLink__number,
      .menuLink__title {
        transition-delay: (150ms * ($i - 1));
      }

      .menuList[hidden] & {
        transform: translateY(10px * $i);
        transition: transform 300ms ease (100ms * ($i - 1)),
          opacity 300ms ease (10ms * ($i - 1));

        .menuLink__number,
        .menuLink__title {
          transition-delay: (100ms * ($i - 1));
        }
      }
    }
  }

  a {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    align-items: baseline;
    color: inherit;

    .menuLink--current & {
      pointer-events: none;
    }
  }

  &__number,
  &__title,
  &__dash {
    position: relative;
    line-height: 13px;
    margin-top: -6px;
    top: 50%;
  }

  &__number,
  &__title {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: $transition-time-func;
  }

  &__number {
    .menuList[hidden] & {
      transform: translateX(-15px);
    }
  }

  &__title {
    .menuList[hidden] & {
      transform: translateX(15px);
    }
  }

  &__dash {
    padding: 0 6px;
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    margin-top: 8px;
    background-color: $black;
    transform-origin: 100% 50% 0;
    transform: scaleX(0);
    transition: transform 400ms ease;

    .menuLink--current &,
    .menuLink:hover &,
    .menuLink:focus & {
      transform-origin: 0% 50% 0;
      transform: scaleX(1);
      transition: transform 300ms ease;
    }
  }
}
