@import '~@ssgw/utils/dist/scss/index';

$primary-cta--scale-1: scaleX(1) scaleY(1);
$primary-cta--scale-2: scaleX(0.9375) scaleY(0.8);

.primaryCta {
  @include reset-button;
  @include focus-outline;
  @include box-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  font-family: $font-family--one;
  min-width: 180px;
  padding: 0 30px;
  height: 50px;
  z-index: 12;
  position: relative;
  transition: opacity 1s, transform 800ms;

  &[hidden] {
    opacity: 0;
    transform: translateY(40%);
  }

  @include prefers-reduced-motion {
    & * {
      transform: none !important;
      transition: none !important;
    }
  }
}

.text {
  letter-spacing: 0.2em;
  font-size: 13px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  transition: opacity 300ms, transform 300ms;
}

.text-a {
  transform: translateY(50%);
  opacity: 1;

  .is-light & {
    color: white;
  }

  .is-dark & {
    color: black;
  }

  .primaryCta:not([disabled]):hover &,
  .primaryCta:not([disabled]):focus & {
    transform: translateY(0%);
    opacity: 0;
  }
}

.text-b {
  transform: translateY(75%);
  opacity: 0;

  .is-light & {
    color: black;
  }

  .is-dark & {
    color: white;
  }

  .primaryCta:not([disabled]):hover &,
  .primaryCta:not([disabled]):focus & {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 25px;
  transition: opacity 600ms, transform 600ms;
}

.outline-a {
  border: 2px solid;
  transform: $primary-cta--scale-1;

  .is-dark & {
    border-color: black;
  }

  .is-light & {
    border-color: white;
  }

  .primaryCta:not([disabled]):hover &,
  .primaryCta:not([disabled]):focus & {
    opacity: 0;
    transform: $primary-cta--scale-2;
  }
}

.outline-b {
  opacity: 0;
  transform: $primary-cta--scale-2;

  .is-dark & {
    background-color: black;
  }

  .is-light & {
    background-color: white;
  }

  .primaryCta:not([disabled]):hover &,
  .primaryCta:not([disabled]):focus & {
    opacity: 1;
    transform: $primary-cta--scale-1;
  }
}
