@import '~@ssgw/utils/dist/scss/index';

.disclaimer {
  position: relative;
  font-size: 12px;
  font-family: $font-family--one;
  text-align: center;
  line-height: 1.5;
  opacity: 0.6;
  top: 0;
  transition: opacity 1s, top 1s;

  &[hidden] {
    display: inherit;
    opacity: 0;
    top: 70px;
  }

  &.is-light {
    color: white;
  }

  &.is-dark {
    color: black;
  }
}
