@import '~@ssgw/utils/dist/scss/index';

.nextChapter {
  @include focus-outline;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.copy {
  margin-right: 15px;
  text-align: right;
  flex-grow: 1;
}

.title {
  font-family: $font-family--one;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition-delay: 0ms;
}

.subtitle {
  font-family: $font-family--sharp-sans;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  transition-delay: 150ms;

  @include small() {
    font-size: 14px;
  }
}

.thumbnail {
  overflow: hidden;
  position: relative;
  width: 164px;
  flex: 0 0 52%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 1px solid #444444;
  transition-delay: 150ms * 2;

  &::before {
    content: '';
    display: block;
    padding-bottom: percentage(0.68);
  }
}

.ui_next {
  opacity: 0;
  transform: translateX(60px);
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 800ms;

  .nextChapter.is-dark & {
    color: #000;
  }

  .nextChapter.is-light & {
    color: #fff;
  }

  .nextChapter:not([hidden]) & {
    opacity: 1;
    transform: translateX(0);
  }
}
