.header {
  z-index: 19 !important;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 1500ms;

  &.is-light {
    color: white;
  }

  &.is-dark {
    color: black;
  }
}

.title,
.subtitle {
  margin: 0;
}

.title {
  font-family: 'SamsungSharpSansMedium', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 70px;
  position: relative;
  top: 0;
  transition: top 800ms, opacity 800ms;

  .header.is-disabled & {
    opacity: 0;
    top: 70px;
  }
}

.subtitle {
  font-family: 'SamsungSharpSansBold', Arial, sans-serif;
  font-weight: bold;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.line {
  position: relative;
  font-size: 120px;
  line-height: 1;
  top: 0;
  width: 100%;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  transform-style: preserve-3d;
  transition: transform 1500ms;

  .header.is-disabled & {
    opacity: 0;
    transform: translate3d(0, 0, 900px) rotateX(0deg) rotateY(0deg);
  }
}
