@import '~@ssgw/utils/dist/scss/index';

.header {
  transition: opacity 1500ms;

  &.is-light {
    color: white;
  }

  &.is-dark {
    color: black;
  }

  &.is-faded {
    opacity: 0;
  }
}

.title,
.subtitle {
  margin: 0;
}

.title {
  font-family: $font-family--one;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 70px;
  position: relative;
  top: 0;
  transition: top 800ms, opacity 800ms;

  .header.is-pre & {
    opacity: 0;
    top: 70px;
  }

  @include smallAndMedium() {
    margin-bottom: 35px;
  }
}

.subtitle {
  font-family: $font-family--sharp-sans;
  font-weight: bold;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.line {
  position: relative;
  font-size: 120px;
  line-height: 1;
  top: 0;
  width: 100%;
  white-space: nowrap;

  @include smallAndMedium() {
    font-size: 13.5vw;
  }
}

.letter {
  display: inline-block;

  .header.is-pre & {
    opacity: 0;
    transform: translate3d(0, 0, 900px) rotateX(0deg) rotateY(0deg);
  }
}

.letter-inner {
  display: inline-block;
  transition: transform 1500ms;
}
