@mixin disable-callout() {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin reset-button() {
  @include disable-callout();

  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  display: block;
  text-align: inherit;

  &:not([disabled]) {
    cursor: pointer;
  }
}
