$font-family--one: 'SamsungOne', 'SamsungOneKorean', Arial, sans-serif;
$font-family--sans: 'SamsungSans', 'SamsungOneKorean', Arial, sans-serif;
$font-family--sharp-sans: 'SamsungSharpSans', 'SamsungOneKorean', Arial,
  sans-serif;
