.disclaimer {
  position: relative;
  font-size: 12px;
  font-family: 'SamsungOne', Arial, sans-serif;
  text-align: center;
  line-height: 1.5;
  top: 0;
  transition: opacity 1s, top 1s;

  &.is-disabled {
    opacity: 0;
    top: 70px;
  }

  &.is-light {
    color: white;
  }

  &.is-dark {
    color: black;
  }
}
