.disclaimer {
  position: relative;
  font-size: 12px;
  font-family: 'SamsungOne', Arial, sans-serif;
  text-align: center;
  line-height: 1.5;
  transition: opacity 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), bottom 1s;
}

.disclaimer:not(.is-loaded) {
  opacity: 0;
  top: 70px;
}

.disclaimer.is-light {
  color: black;
}

.disclaimer.is-dark {
  color: white;
}

.disclaimer * {
  position: static;
}
